/* 01 RESET */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font: 15px/1.42 'Raleway', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #444;
    background: #F1F1F1;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
q,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
    border: 0;
    margin: 0;
    padding: 0
}
html {
    overflow-y: scroll;
    -webkit-text-size-adjust: auto;
    -webkit-overflow-scrolling: touch;
}
img,
fieldset,
abbr,
acronym {
    border: 0;
}
article,
aside,
figure,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    display: block;
}
figure {
    position: relative;
    overflow: hidden;
}
figure img {
    display: block;
}
iframe,
.fb_iframe_widget {
    border: 0;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
/* 02 GLOBAL STYLES */

p {
    line-height: 1.5;
    padding: 0 0 20px;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.content a {
    color: #1976D2;
    font-weight: 600;
}
::-moz-selection {
    background: #084e92  ;
    color: #fff;
}
::selection {
    background: #084e92  ;
    color: #fff;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
.center {
    text-align: center !important;
}
.center img {
    margin: 0 auto;
}
.left-pic {
    float: left;
    margin: 0 30px 0 0;
}
.right-pic {
    float: right;
    margin: 0 0 0 30px;
}
/* 03 TYPOGRAPHY */

h1 {
    font-weight: normal;
    font-size: 31px;
    padding: 0 0 25px;
}
h2 {
    font-weight: normal;
    font-size: 26px;
    padding: 0 0 37px;
    color: #2B3941;
}
h3 {
    font-weight: normal;
    font-size: 21px;
    padding: 0 0 15px;
}
h4 {
    font-weight: normal;
    font-size: 18px;
    padding: 0 0 15px;
    color: #2B3941;
}
h5 {
    font-weight: normal;
    font-size: 16px;
    padding: 0 0 15px;
}
h6 {
    font-weight: normal;
    font-size: 14px;
    padding: 0 0 15px;
}
.logo,
h1,
h2,
h3,
h4,
h5,
h6,
nav.tabs,
.tab-content .accordion dt,
.results figcaption dt,
ol.custom li:before,
.home .hentry h3,
.booking .box-white h5,
.boxed header,
.details .price {
    font-family: "Raleway", sans-serif;
}
strong {
    font-weight: 600;
}
p.lead {
    font-size: 17px;
    font-weight: 500;
    padding: 5px 0 15px;
}
/* 04 ICONS */

.circle {
    display: table;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.circle span {
    display: table-cell;
    vertical-align: middle;
}
.circle a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.circle.small {
    background: #1976D2;
    color: #fff;
    float: left;
    margin: 0 8px 8px 0;
    text-indent: 0;
    line-height: 30px;
}
.circle.small .fa-envelope {
    font-size: 14px;
}
a.circle.small:hover,
a.circle.small:focus {
    background: #515e64;
}
.circle.large {
    background: #fff;
    width: 80px;
    height: 80px;
    font-size: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 36px;
}
.circle.large span {
    font-size: 40px;
    color: #C5A980;
}
.circle.border {
    border: 1px solid #e0e0e0;
}
.circle.large:hover {
    background: #C5A980;
    border-color: #C5A980;
}
.circle.large:hover span {
    color: #fff;
}
/* 05 BUTTONS */

.button {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 20px;
    max-width: 100%;
    white-space: nowrap;
}
.button.white {
    border-color: #fff;
    color: #fff;
}
.button.white:hover,
.button.white:focus {
    background: #fff;
    color: #C5A981;
}
.button.solid.white {
    background: #fff;
    color: #C5A981;
}
.button.gold {
    border-color: #1976D2;
    color: #1976D2;
}
.button.gold:hover,
.button.gold:focus {
    background: #1976D2;
    color: #fff;
}
.button.solid.gold {
    background: #1976D2;
    color: #fff;
}
.button.solid.gold:hover,
.button.solid.gold:focus {
    background: #1976D2;
}
.button.small {
    font-size: 13px;
    height: 42px;
    line-height: 38px;
}
.button.medium {
    height: 50px;
    line-height: 46px;
    min-width: 200px;
}
.button.large {
    font-size: 20px;
    font-weight: 600;
    height: 70px;
    line-height: 68px;
    min-width: 270px;
}
.button.full {
    width: 100%;
}
.more {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #444 !important;
    margin: 10px 0 20px;
}
.more:hover,
.more:focus {
    color: #1976D2 !important;
}
/* 06 LISTS */

ul {
    margin: 0 0 17px;
}
ul > li {
    list-style: none;
    position: relative;
    padding: 0 0 8px 15px;
}
ul > li:before {
    content: "\25A0";
    font-size: 8px;
    color: #ffffff;
    position: absolute;
    top: 3px;
    left: 0;
}
ul ul {
    margin: 8px 0 -8px 2px;
}
ul ul li:before {
    content: "\00af";
    font-size: 25px;
    top: 0;
    left: -2px;
}
ol {
    margin: 0 0 17px 25px;
    display: inline-block;
}
ol li {
    list-style: decimal outside;
    padding: 0 0 8px 5px;
}
ol ol {
    margin: 8px 0 -8px 15px;
}
nav ul {
    margin: 0;
}
nav ul > li {
    padding: 0;
}
nav ul > li:before {
    display: none;
}
ul.check li {
    padding: 0 0 10px 20px;
}
ul.check li:before {
    font-family: "FontAwesome", sans-serif;
    content: "\f00c";
    top: 1px;
    font-size: 14px;
}
ul.twins li,
ol.twins li,
.twins > div {
    float: left;
    width: 50%;
}
ul.triplets li,
ol.triplets li,
.triplets > div {
    float: left;
    width: 33.3334%;
}
ul.quadruplets li,
ol.quadruplets li,
.quadruplets > div {
    float: left;
    width: 25%;
}
ul.icons {
    margin-left: -15px;
}
ul.icons li {
    padding: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
ul.icons li:before {
    display: none !important;
}
ul.icons li span {
    vertical-align: middle;
    margin-right: 5px;
}
ul.icons li a {
    display: inline-block;
    padding: 15px;
    color: #444;
    font-weight: 400;
}
ul.icons li:hover,
ul.icons li:focus {
    background: #fff;
}
ul.icons li:hover span,
ul.icons li:focus span {
    color: #DBBC94;
}
ul.nobullet li {
    padding: 0 0 8px;
}
ul.nobullet li:before {
    display: none !important;
}
ol.custom {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    padding: 0;
    margin: 0;
    text-align: left;
}
ol.custom li {
    float: left;
    position: relative;
    display: block;
    margin: 0 0 50px;
    padding: 0 15px 0 75px;
}
ol.custom li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 0;
    top: 3px;
    color: #C5A980;
    border: 1px solid #C5A980;
    height: 60px;
    width: 60px;
    line-height: 58px;
    text-align: center;
    font-size: 22px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.fa-ul li {
    padding-left: 0;
}
.fa-ul li:before {
    display: none;
}
/* 08 LAYOUT */

.wrap {
    margin: 0 auto;
    width: 1170px;
    text-align: left;
    position: relative;
    max-width: 94%;
    display: inline-block;
}
.main {
    margin-top: 80px;
    min-height: 500px;
    float: left;
    width: 100%;
}
.row {
    margin: 0 -15px;
    padding: 0 !important;
}
.full-width {
    float: left;
    width: 100%;
    padding: 0 15px 30px;
    max-width: 100%;
}
.three-fourth {
    float: left;
    width: 75%;
    padding: 0 15px 30px;
    max-width: 100%;
}
.one-half {
    float: left;
    width: 50%;
    padding: 0 15px 30px;
    max-width: 100%;
}
.one-third {
    float: left;
    width: 33.33%;
    padding: 0 15px 30px;
    max-width: 100%;
}
.two-third {
    float: left;
    width: 66.66%;
    padding: 0 15px 30px;
    max-width: 100%;
}
.one-fourth {
    float: left;
    width: 25%;
    padding: 0 15px 30px;
    max-width: 100%;
}
.one-fifth {
    float: left;
    width: 20%;
    padding: 0 15px 30px;
    max-width: 100%;
}
.one-sixth {
    float: left;
    width: 16.66%;
    padding: 0 15px 30px;
    max-width: 100%;
}
.one-seventh {
    float: left;
    width: 14.2857%;
    padding: 0 15px 30px;
    max-width: 100%;
}
.row:before,
.row:after,
.wrap:before,
.wrap:after {
    content: "";
    display: table;
}
.row:after,
.wrap:after {
    clear: both;
}
.boxed div,
.boxed article,
.boxed figure,
.boxed aside,
.nopad {
    padding: 0;
}
/* 09 HEADER */

.header {
    background: #fff;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid #ddd;
}
.header > .wrap {
    display: table;
    height: 80px;
}
.header .logo {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 0;
    color: #084e92  ;
    font-size: 29px;
}
.logo span {
    font-size: 37px;
    text-shadow: 0 0 0 #084e92  ;
    float: left;
    margin: 2px 5px 0 0;
}
.main-nav {
    float: right;
}
.advanced-search {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 9999;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
}
.advanced-search .wrap > div {
    float: left;
    width: 15%;
    padding: 30px 15px;
    position: relative;
}
.advanced-search .wrap > div:first-child {
    width: 25%;
    padding-left: 0;
}
.advanced-search .wrap > div:last-child {
    padding-right: 0;
}
.advanced-search .selector {
    color: #787878;
    font-weight: 500;
}
.advanced-search .button {
    border-width: 1px;
    font-size: 13px;
    font-weight: 600;
    height: 45px;
    white-space: nowrap;
}
.ui-datepicker {
    z-index: 99999 !important;
}
.ui-datepicker th {
    font-size: 13px;
    padding: 10px 15px;
}
.ui-datepicker td {
    font-size: 14px;
}
#startDate {
    background: #fff url(../img/datepicker.png) 90% 13px no-repeat;
}
.advanced-search .selector,
.advanced-search .selector span,
.advanced-search input {
    font-size: 13px;
    text-transform: uppercase;
    color: #515E64;
}
.search-hide {
    float: right;
    padding: 0 15px 15px;
    color: #bbb;
    font-weight: 400 !important;
    margin-top: -15px;
    position: relative;
    z-index: 2;
}
.search-hide:hover,
.search-hide:focus {
    color: #1976D2;
}
/* 27 PRELOADER */

.preloader {
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
}
.preloader div {
    position: relative;
    top: 50%;
    left: 47%;
}
.preloader div span {
    display: block;
    bottom: 0;
    width: 9px;
    height: 5px;
    background: #1976D2;
    position: absolute;
    -webkit-animation: preloader 1.5s infinite ease-in-out;
    -moz-animation: preloader 1.5s infinite ease-in-out;
    -ms-animation: preloader 1.5s infinite ease-in-out;
    -o-animation: preloader 1.5s infinite ease-in-out;
    animation: preloader 1.5s infinite ease-in-out;
}
.preloader div span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}
.preloader div span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}
.preloader div span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
}
.preloader div span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -ms-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}
@-webkit-keyframes preloader {
    0% {
        height: 5px;
        -webkit-transform: translateY(0px);
    }
    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
    }
    50% {
        height: 5px;
        -webkit-transform: translateY(0px);
    }
    100% {
        height: 5px;
        -webkit-transform: translateY(0px);
    }
}
@-moz-keyframes preloader {
    0% {
        height: 5px;
        -moz-transform: translateY(0px);
    }
    25% {
        height: 30px;
        -moz-transform: translateY(15px);
    }
    50% {
        height: 5px;
        -moz-transform: translateY(0px);
    }
    100% {
        height: 5px;
        -moz-transform: translateY(0px);
    }
}
@-ms-keyframes preloader {
    0% {
        height: 5px;
        -ms-transform: translateY(0px);
    }
    25% {
        height: 30px;
        -ms-transform: translateY(15px);
    }
    50% {
        height: 5px;
        -ms-transform: translateY(0px);
    }
    100% {
        height: 5px;
        -ms-transform: translateY(0px);
    }
}
@keyframes preloader {
    0% {
        height: 5px;
        transform: translateY(0px);
    }
    25% {
        height: 30px;
        transform: translateY(15px);
    }
    50% {
        height: 5px;
        transform: translateY(0px);
    }
    100% {
        height: 5px;
        transform: translateY(0px);
    }
}
/* 28 FORM ELEMENTS*/

fieldset {
    display: inline-block;
    width: 100%;
}
label {
    display: inline-block;
    cursor: pointer;
    color: #444;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 0 5px 1px;
    width: 100%;
}
.checkbox label,
.radio label {
    text-transform: none;
    font-size: 15px;
    width: auto;
    padding: 2px 0 0;
    max-width: 80%;
}
label span {
    text-transform: none;
}
input,
textarea {
    outline: none;
}
button,
input,
select,
textarea {
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-appearance: button;
    text-align: center;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type="search"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    display: block;
    padding: 10px 15px;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
    color: #444;
    height: 45px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
textarea {
    resize: none;
    height: 125px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #bbb;
}
input[type="file"] {
    border: 1px solid #ddd;
    color: #444;
    padding: 6px;
    margin: 5px 0;
}
fieldset > div {
    padding-bottom: 15px;
}
/* MENU CONFIGURATION
**********************************************************/

.jetmenu {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
    list-style: none;
    background: none;
}
.jetmenu li {
    display: inline-block;
    float: left;
    position: initial;
    color: #787878;
}
.jetmenu a {
    z-index: 10;
}
.jetmenu > li > a {
    padding: 31px 12px 29px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #787878;
    text-decoration: none;
    display: inline-block;
}
.jetmenu > li:hover > a,
.jetmenu > li.active > a {
    color: #1976D2;
}
.jetmenu ul.dropdown,
.jetmenu ul.dropdown li ul.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 134px;
    background: #fff;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
}
.jetmenu ul.dropdown {
    top: 80px;
}
.jetmenu ul.dropdown li ul.dropdown {
    left: 100%;
    top: inherit;
}
.jetmenu ul.dropdown li {
    clear: both;
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
    text-transform: none;
}
.jetmenu ul.dropdown li a {
    width: 100%;
    padding: 15px;
    display: inline-block;
    float: left;
    clear: both;
    text-decoration: none;
    color: #787878;
}
.jetmenu ul.dropdown li:hover > a {
    background: #f1f1f1;
    color: #1976D2;
}
.jetmenu ul.dropdown li ul.dropdown.left {
    left: auto;
    right: 100%;
}
.jetmenu .indicator {
    display: none;
    position: relative;
    left: -15px;
    top: 0;
    font-size: 14px;
    float: right;
    color: #1976D2;
}
.jetmenu ul li .indicator {
    top: 1px;
    left: -10px;
}
.jetmenu > li > .megamenu {
    position: fixed;
    display: none;
    width: 100%;
    top: 80px;
    background: #fff;
    z-index: 99;
    padding: 30px 0;
    text-align: center;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    font-weight: 500;
}
.jetmenu > li > .megamenu .row > div {
    padding-bottom: 0;
}
.jetmenu li > .megamenu ul {
    margin: 0;
    float: left;
    padding: 0;
    display: block;
    position: relative;
    width: 100%;
}
.jetmenu li > .megamenu ul li {
    width: 100%;
    font-size: 13px;
}
.jetmenu li > .megamenu ul li a {
    float: left;
    width: 100%;
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
}
.jetmenu li > .megamenu p {
    padding: 1px 10px 15px;
    color: #1976D2;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: -13px 0 0;
}
.jetmenu li > .megamenu span {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.jetmenu li > .megamenu a {
    color: #084e92  ;
}
.jetmenu li > .megamenu ul li a:hover {
    background: #f1f1f1;
}
.jetmenu li > .megamenu a:hover span {
    color: #1976D2;
}
.jetmenu .megamenu img {
    width: 100%;
}
.jetmenu > li.fix-sub > .megamenu,
.jetmenu > li.fix-sub > .megamenu.half-width,
.jetmenu > li.fix-sub > .dropdown {
    right: 0;
}
.jetmenu > li > .megamenu.half-width {
    width: 50%;
}
.jetmenu > li > .megamenu.full-width {
    width: 100%;
    left: 0;
}
.jetmenu > li.right {
    float: right;
}
.jetmenu > li.right > .megamenu,
.jetmenu > li.right > .megamenu.half-width,
.jetmenu > li.right > .dropdown {
    right: 0;
}
.jetmenu > li.jsright {
    float: right;
}
.jetmenu > li.jsright.last > .megamenu,
.jetmenu > li.jsright.last > .megamenu.half-width,
.jetmenu > li.jsright.last > .dropdown {
    right: 0;
}
.jetmenu > li > a > i {
    line-height: 23px !important;
    margin-right: 6px;
    font-size: 18px;
    float: left;
}
.jetmenu > li.showhide {
    display: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    color: #fff;
    background: #084e92  ;
    margin: 15px 0;
}
.jetmenu > li.showhide span.title {
    margin: 15px 0 0 25px;
    float: left;
}
.jetmenu > li.showhide span.icon {
    margin: 17px 20px;
    float: right;
}
.jetmenu > li.showhide .icon em {
    margin-bottom: 3px;
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
}
/* UNIFORM CUSTOM FORM ELEMENTS */
/* General settings */

div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
div.selector,
div.checker,
div.button,
div.radio,
div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
div.selector:focus,
div.checker:focus,
div.button:focus,
div.radio:focus,
div.uploader:focus {
    outline: 0;
}
div.selector,
div.selector *,
div.radio,
div.radio *,
div.checker,
div.checker *,
div.uploader,
div.uploader *,
div.button,
div.button * {
    cursor: pointer;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
/* Input & Textarea */

input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
    padding: 10px 15px;
    border: 1px solid #ddd;
}
input.uniform-input.active,
select.uniform-multiselect.active,
textarea.uniform.active,
input.uniform-input.focus,
select.uniform-multiselect.focus,
textarea.uniform.focus {
    border-color: #bbb;
}
/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */

div.checker input,
input[type="search"],
input[type="search"]:active {
    -moz-appearance: none;
    -webkit-appearance: none;
}
/* Select */

div.selector {
    border: 1px solid #ddd;
    line-height: 43px;
    height: 45px;
    position: relative;
    overflow: hidden;
    width: 100% !important;
    padding-left: 15px;
    background: #fff;
}
div.selector span {
    position: relative;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    height: 45px;
    line-height: 43px;
    background: #fff;
    cursor: pointer;
    width: 100% !important;
    padding-right: 30px;
}
div.selector span:before {
    font-family: 'FontAwesome';
    content: "\f107";
    position: absolute;
    top: 1;
    right: 15px;
    font-size: 20px;
    color: #ccc;
}
div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 46px;
    top: 0;
    left: 0;
    width: 100%;
}
div.selector.active,
div.selector.focus {
    border-color: #bbb;
}
/* Checkbox */

div.checker {
    position: relative;
    top: 0;
    margin-right: 15px;
    float: left;
}
div.checker,
div.checker span,
div.checker input {
    width: 25px;
    height: 25px;
}
div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
}
div.checker span.checked:before {
    font-family: 'FontAwesome';
    content: "\f00c";
    position: absolute;
    top: 1px;
    left: 5px;
    color: #666;
}
div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
/* Radio */

div.radio {
    position: relative;
    top: 0;
    margin-right: 15px;
    float: left;
}
div.radio,
div.radio span,
div.radio input {
    width: 25px;
    height: 25px;
}
div.radio span {
    border: 1px solid #ddd;
    background: #fff;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
}
div.radio span.checked:before {
    content: "";
    width: 11px;
    height: 11px;
    background: #191f26;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    top: 6px;
    left: 6px;
}
div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
}
/* jQuery DatePicker */

.content .ui-datepicker {
    width: 100%;
}
.ui-datepicker-header {
    position: relative;
}
.ui-datepicker-title {
    background: #515E64;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding: 13px 15px;
}
.ui-datepicker-prev {
    cursor: pointer;
    position: absolute;
    top: 0;
    color: #fff;
    left: 15px;
    text-indent: -999999px;
}
.ui-datepicker-prev:before {
    content: "\2039";
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 30px;
    color: #fff;
    text-indent: 0;
}
.ui-datepicker-next {
    cursor: pointer;
    position: absolute;
    top: 0;
    color: #fff;
    right: 15px;
    text-indent: -999999px;
}
.ui-datepicker-next:before {
    content: "\203A";
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 30px;
    color: #fff;
    text-indent: 0;
}
.ui-datepicker th {
    text-align: center;
    background: #fff;
    text-transform: uppercase;
    color: #2B3941;
    border-color: #ddd;
    font-weight: 400;
}
.content .ui-datepicker th {
    font-size: 14px;
    padding: 15px 17px 14px;
}
.ui-datepicker td {
    width: 14.2857% !important;
    text-align: center;
    padding: 0;
    background: #fff;
    color: #515E64;
}
.content .ui-datepicker td {
    font-size: 18px;
}
.ui-datepicker td a {
    font-weight: 400;
    color: #515E64;
}
.ui-datepicker td a,
.ui-datepicker td span {
    float: left;
    width: 100%;
    height: 100%;
    padding: 12px;
}
.content .ui-datepicker td a,
.content .ui-datepicker td span {
    padding: 17px;
}
.ui-datepicker .ui-state-disabled,
.ui-datepicker .ui-datepicker-unselectable {
    background: #eee;
    color: #666;
}
.ui-datepicker .ui-datepicker-today {
    background: #515E64;
    color: #fff;
}
.ui-datepicker .ui-datepicker-today a {
    color: #fff;
}
.ui-datepicker a.ui-state-active,
.ui-datepicker a.ui-state-hover {
    background: #084e92  ;
    color: #fff;
    font-weight: 500;
}
.ui-datepicker-month,
.ui-datepicker-year {
    width: 30%;
    margin: 0 10px;
}
/* 31 RESPONSIVENESS */

@media screen and (max-width: 1400px) {
    .results .one-fourth,
    .gallery .one-fourth {
        width: 33.3334%;
    }
}
@media screen and (max-width: 1200px) {
    .wrap {
        width: 94%;
    }
    .lSAction {
        float: left;
        width: 100%;
        padding: 15px !important;
        border-top: 1px solid #ddd;
        background: #fff;
        right: 0;
        bottom: 0;
        position: relative !important;
    }
    .lSAction > a {
        opacity: 1 !important;
        margin: 0 !important;
        padding: 0 15px;
    }
}
@media screen and (max-width: 1040px) {
    div.one-fourth,
    div.one-sixth,
    article.one-fourth,
    .one-third,
    .two-third,
    .results .one-fourth,
    .gallery .one-fourth {
        width: 50%;
    }
    .details div {
        width: 100%;
    }
    .details div:nth-child(2n) {
        border-left: none;
    }
}
@media screen and (max-width: 980px) {
    .wrap {
        width: 92%;
    }
    nav.tabs .wrap {
        width: 100%;
    }
    .header {
        position: relative;
        height: auto;
    }
    .header .logo {
        display: inline-block;
        padding: 0;
        margin: 15px 0 0;
    }
    .main-nav {
        float: left;
        width: 100%;
    }
    .jetmenu .indicator {
        display: block;
    }
    .jetmenu > li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
    .jetmenu > li > a {
        padding: 15px 0;
    }
    .jetmenu a {
        width: 100%;
    }
    .jetmenu ul.dropdown,
    .jetmenu ul.dropdown li ul.dropdown {
        float: left;
        margin: -10px 0 10px;
        width: 100% !important;
        left: 0;
        position: static !important;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .jetmenu ul.dropdown li {
        background: #fff !important;
        border: none;
    }
    .jetmenu ul.dropdown > li > a {
        padding: 5px 15px;
        color: #084e92  ;
    }
    .jetmenu > li > .megamenu {
        width: 100% !important;
        position: static;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 0;
    }
    .jetmenu > li > .megamenu .wrap {
        width: 100%;
        max-width: 100%;
    }
    .jetmenu > li > .megamenu .row [class*="col"] {
        display: block;
        width: 100% !important;
        padding: 0 0 15px;
    }
    .jetmenu > li > .megamenu .row {
        margin: 0;
    }
    .jetmenu li > .megamenu p {
        margin: 0 0 10px;
        padding: 0 10px 12px;
    }
    .jetmenu > li > .megamenu ul li a {
        border: none;
        padding: 5px 15px;
    }
    .advanced-search {
        top: 0;
    }
    .advanced-search .wrap > div,
    .advanced-search .wrap > div:first-child,
    .advanced-search .wrap > div:last-child {
        width: 50%;
        padding: 30px 15px 0;
    }
    .search-hide {
        margin: 15px 0 0;
    }
    input[type="search"],
    input[type="email"],
    input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea {
        padding: 11px 15px;
    }
    .main {
        margin-top: 0;
    }
    .fixed {
        position: static;
    }
    .offset {
        margin-top: 0 !important;
    }
    .filter-hide {
        margin: -12px 0 13px;
    }
    .filter-show {
        right: 4%;
    }
    .home nav.tabs li {
        font-size: 17px;
    }
    ul.twins li,
    ul.triplets li,
    ul.quadruplets li,
    ol.twins li,
    ol.triplets li,
    ol.quadruplets li {
        width: 100%;
    }
    .blog .sidebar-right {
        margin: 0;
    }
    .blog .sidebar-right .widget {
        padding: 0;
    }
}
@media screen and (max-width: 840px) {
    .full-width,
    .three-fourth,
    .one-half,
    .one-third,
    .two-third,
    .one-fifth,
    .one-sixth,
    .sidebar.one-fourth,
    .booking .two-third,
    .booking .one-third {
        width: 100%;
    }
    .heightfix {
        height: auto !important;
    }
    nav.tabs.six li {
        font-size: 14px;
    }
    .home nav.tabs li {
        font-size: 15px;
    }
    .grid4 .text,
    .grid2 .text {
        padding: 30px 30px 10px !important;
    }
    .grid4 .text h3,
    .grid2 .text h3 {
        padding-bottom: 30px;
    }
    .highlight {
        padding: 30px !important;
        margin: 15px -30px 28px;
    }
    .highlight h4 {
        padding-bottom: 20px;
    }
    .blog .sidebar-right,
    .blog .sidebar-left {
        margin: 0;
    }
    .intro .wrap,
    .wrap.center {
        max-width: 100%;
    }
}
@media screen and (max-width: 670px) {
    nav.tabs {
        height: auto !important;
        padding: 0;
    }
    nav.tabs .wrap {
        float: left;
    }
    nav.tabs li {
        width: 100% !important;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, .18);
        text-align: left;
    }
    nav.tabs li a {
        line-height: 60px;
    }
    nav.tabs li span {
        margin: 10px 15px 0;
        float: left;
        width: auto;
    }
    .home nav.tabs li img {
        height: 100px;
    }
    .home nav.tabs li a {
        text-align: center;
        line-height: 1.32;
        padding: 10px 30px 30px;
        font-size: 17px;
    }
    ul.icons {
        margin: 0;
    }
    .wrap {
        width: 90%;
    }
    .row {
        margin: 0;
    }
    .full-width,
    .three-fourth,
    .one-half,
    .one-third,
    .two-third,
    .one-fourth,
    .one-fifth,
    .one-sixth,
    .one-seventh {
        padding-left: 0;
        padding-right: 0;
        width: 100% !important;
    }
    .filter-show {
        right: 5%;
    }
    .pricing div {
        width: 100%;
        margin: 0 0 30px !important;
    }
    .testimonials br {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .content .ui-datepicker th,
    .content .ui-datepicker td {
        font-size: 13px;
        padding: 5px;
    }
    .advanced-search .wrap > div,
    .advanced-search .wrap > div:first-child,
    .advanced-search .wrap > div:last-child {
        width: 100%;
    }
}